import Config

config :beam_bot,
  binance_api_key: "HbAPCWKfr0Krm0awgNDr1YJ5VZizDtERNhzdpVbUjn3KEXHOtK7HyYLty99dK3aQ",
  binance_api_secret_key: "vMYhQY7X7ysuZKqslyUzzLJmut5DuS1qIp1i7p1bhfgt40SxbrCRVQOXmZ5vLs19"
